# Note: Don't put string values in quotes because they will be treated as string literals
# Note: Don't put any spaces around the equal sign
# Note: Don't put any spaces around the commas
# Note: Don't put any spaces around the colons
# Note: For boolean values don't put them in quotes. Also make sure to check for true or false in the code like this if USE_SQLITE == 'True': because the .env file will always return a string not a boolean.

#############################
######## BASE CONFIGS #######
#############################
SECRET_KEY=django-insecure-nz97uripz
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DEBUG=True
CORS_ALLOWED_ORIGINS=http://localhost:3000,https://localhost:3000


#############################
########## DATABASE #########
#############################
USE_SQLITE=True
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=
DB_PORT=